// Nextflow configuration file


trace.enabled = false
report.enabled = false
timeline.enabled = false
dag.enabled = false

params {
    reads  = "data/reads/*_{1,2}.fastq.gz"
    genome = "data/genome/ecoli_ref.fna"
    outdir = "results"
}

// Resource labels
process {
    withLabel: 'process_low' {
        cpus   = 1
        memory = '1.GB'
    }
    withLabel: 'process_medium' {
        cpus   = 2
        memory = '2.GB'
    }
}

profiles {

    // Run locally
    local {
        process.executor = 'local'
    }

    // Run with Docker
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'mansi-ecoli-pipeline:latest'
    }

    // Run on AWS Batch
    aws {
        process.executor  = 'awsbatch'
        process.queue     = 'nextflow-batch-queue'
        process.container = 'YOUR_ACCOUNT_ID.dkr.ecr.eu-west-2.amazonaws.com/ecoli-pipeline:latest'
        workDir           = 's3://mansi-bioinformatics-multiomics/work'
        aws.region        = 'eu-west-2'

        params.reads  = 's3://mansi-bioinformatics-multiomics/data/reads/*_{1,2}.fastq.gz'
        params.genome = 's3://mansi-bioinformatics-multiomics/data/genome/ecoli_ref.fna'
        params.outdir = 's3://mansi-bioinformatics-multiomics/results'
    }
}

